.hg-conteudo {
    background-color: rgba(192, 192, 192, 0.699);
}

.hg-conteudo > main {
    background-color: white;
    text-align: center;
}

header{
    font-size: 30px;
    background-color: rgba(192, 192, 192, 0.699);
    height: 50px;
    font-family: 'Permanent Marker', cursive;
}

footer{
    background-color: rgba(192, 192, 192, 0.699);
    font-weight: bold;
    font-size: 20px;
    font-family: 'Courgette', cursive;
}

p{
   margin: 19.2px;
   text-align: left;
   font-family: 'Courgette', cursive;
}

body {
    margin: 0 auto;
    max-width: 1440px;
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    background-image: url(pexels-ekrulila-3837494.jpg);

}

.hg-conteudo {
    flex: 1;
    display: flex;
    flex-flow: column;
}

.hg-conteudo > nav {
    order: -1;
}

.menu{
    border-width: 2px; border-style: solid; border-color: black; border-radius: 10px; margin: 5px 10px;
    text-align: center;
    background-color: black; 
}

a{
    color: whitesmoke;
}

.foto{
    width: 150px;
}

aside{
    text-align: center;
}

.hg-conteudo > main {
    flex: 1;
}

@media (min-width: 768px) {
    .hg-conteudo {
        flex-flow: row;
    }

    .hg-conteudo > aside,
    .hg-conteudo > nav {
        flex: 0 0 200px;
    }
}